#box {
  width: 100px;
  height: 100px;
  border-color: aliceblue;
  border-style: solid;
}

h1 {
  font-family:fantasy;
  color: aliceblue;
}

div {
    /* width: 300px; */
    width: 500px;
    height: 325px;
    position: relative;
    align-items: center;
}

div div {
    width: 100px;
    height: 100px;
    outline: 1px solid;
    float: left;
    text-align: center;
    align-content: center;
    font-size: 2.5em;
    color: aliceblue;
    background-color: rgba(236, 231, 225, 0.5);
    background-blend-mode: multiply;
}

.box:hover {
  background: red;
}

body {
  background-image: url('img/tic-tacs-1420767_1280.jpg');
}

#winMessage {
  color: red;
}
