#box {
  width: 100px;
  height: 100px;
  border-color: black;
  border-style: solid;
}

/* <!--
Source - https://stackoverflow.com/a
Posted by Ruddy, modified by community. See post 'Timeline' for change history
Retrieved 2026-01-15, License - CC BY-SA 3.0
--> */

div {
    width: 300px;
    height: 325px;
}

div div {
    width: 100px;
    height: 100px;
    outline: 1px solid;
    float: left;
    text-align: center;
    align-content: center;
    font-size: 2.5em;
}

.box:hover {
  background: red;
}

