#box {
  width: 100px;
  height: 100px;
  border-color: black;
  border-style: solid;
}

div {
    width: 300px;
    height: 325px;
}

div div {
    width: 100px;
    height: 100px;
    outline: 1px solid;
    float: left;
    text-align: center;
    align-content: center;
    font-size: 2.5em;
}

.box:hover {
  background: red;
}

